.h1titulo {
    padding: 5px;
    margin: 10px;
    border-radius: 2px;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.label {
    font-family: 'Segoe UI';
    font-weight: bold;
}

.hr {
    color: greenyellow;
}

.a {
    padding-bottom: 5px;
}