<!DOCTYPE html>
<html xmlns:th="http//:thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

    <header th:replace="layout/layout :: navbar"></header>

    <div class="container py-4">

        <div class="card" style="width: 18rem;">
            <img style="max-width:25%; " th:src="@{'/upload/' + ${cliente.foto}}" class="card-img-top" th:alt="${cliente.foto}">
            <div class="card-body">
                <h5 class="card-title" th:text="${titulo}"></h5>
                <ul class="list-group">
                    <li th:text="${cliente.nombre}"></li>
                    <li th:text="${cliente.apellido}"></li>
                    <li th:text="${cliente.email}"></li>
                    <li th:text="${cliente.fecha}"></li>
                </ul>
                <a th:href="@{/listar}" class="btn btn-primary" role="button">Volver</a>
                <a th:href="@{/form/} + ${cliente.id}" class="btn btn-primary" role="button">Editar</a>
            </div>
        </div>

    </div>
</body>

</html>