<!DOCTYPE html>
<html xmlns:th="http//:thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">Spring Boot-JPA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<ul>
				<span class="navbar-toggler-icon"></span>
			</ul>
		</button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item disabled"><a th:href="@{/listar}" class="nav-link" href="#">Home <span class="sr-only">(current)</span>
				</a></li>
                <li class="nav-item"><a th:href="@{/form}" class=" nav-link " href="# ">Formato</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-md">
        <h1 class="h1titulo" th:text="${titulo}"></h1>
        <hr>
    </div>

    <div class="container-md p-3">

        <form th:action="@{/form}" th:object="${cliente}" method="POST">
            <div>
                <div class="form-group">
                    <!--  <ul class="alert alert-danger">
                        <li>

                        </li>
                    </ul>-->

                    <input th:field="*{id}" type="hidden" value="" class="form-control " id="id " placeholder="Id de usuario " aria-describedby="Id del usuario " />
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>

                </div>
                <div class="form-group ">
                    <label class="label" for="nombre " type="text">Nombre</label>
                    <input th:field="*{nombre}" type="text" class="form-control" id="Nombre " placeholder="Nombre " />
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                </div>
                <div class="form-group ">
                    <label class="label" for="apellido " type="text ">Apellido</label>
                    <input th:field="*{apellido}" type="text" class="form-control" id="Apellido" placeholder="Apellido" />
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                </div>
                <div class="form-group ">
                    <label class="label" for="email " type="email ">Email</label>
                    <input th:field="*{email}" th:errorclass="'form-control alert-danger'" type="email" class="form-control " id="email " placeholder="Correo electronico " required />
                    <!--     <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{apellido}"></small>  -->
                </div>
                <div class="form-group ">
                    <label class="label" for="fecha" type="fecha">Fecha</label>
                    <input th:field="*{fecha}" th:errorclass="'form-control alert-danger'" type="text" class="form-control " id="fecha" placeholder="fecha " required />
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{apellido}"></small>
                </div>
                <div>
                    <button class="btn btn-outline-primary " name="cliente " type="submit" value="crear usuario ">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>